.wrapper{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
}

.screen{
    grid-column: 1/-1;
    color: white;
    text-align: right;
    padding: 0.5rem;
    font-size: 2rem;
    overflow: hidden;
}
